.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--letras);
    color: var(--color-letra);
    text-transform: capitalize;
    width: 375px;
}
.granContenedor{
    width: 100%;
    background-color: white;
    border-radius: 40px;
}
.contenedorimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contenedor img{
    object-fit: cover;
    align-self: center;
    width: 100%;
}
.title1{
    align-self: flex-start;
    color: var(--color-letra);
    font-family: var(--letras);
    font-size: var(--titulo1);
    padding: 0 0 30px 0;
}
.title2{
    align-self: flex-start;
    text-transform: capitalize;
    color: var(--azul);
    font-size: var(titulo2);
}
.id{
    align-self: flex-end;
    color: #7480B2;
    font-size: var(--id);
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px
}

.title3 {
  align-self: flex-start;
  font-family: var(--letras);
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 14px;
}
.title4 {
    padding-top: 50px;
    align-self: flex-start;
    font-family: var(--letras);
    font-size: 14px;
  }

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: -10px;
  grid-row-gap: 10px;
  padding-top: 15px;
}
.info2{
    color: #676767;
}
.stats{
    width: 100%;
    padding: 0 20px 0 20px;
}
.especial{
    text-transform: lowercase;
}